

.card{
    width: 18rem;
}
.nav-menu { 
    list-style-type: none;
}
.navbar{
    margin-bottom: 0;
}

// .nav-logo {
//     height: 50px;
//     margin-bottom: 12px;
// }
.login-btn {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #607D8B;
  font-family:'Josefin Sans', sans-serif !important;
  
}

.menu-items{
     color: #607D8B !important;
    //  top: 12px;
     

}
.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
    margin:auto;
}

// .carousel-item{
//     height: 100vh;
//     min-height: 300px;
//     background: no-repeat scroll center scroll;
//     background-size: cover;

// }

.nav-item, .nav-link{
    font-family:'Josefin Sans', sans-serif !important;
}

body{
    background-color: black;
    
}