.card{
    width: 18rem;
}
.nav-menu { 
    list-style-type: none;
}
.navbar{
    margin-bottom: 0;
}

.nav-logo {
    height: 200px;
    margin-bottom: 12px;
}
.login-btn {
  position: absolute;
  top: 12px;
  right: 10px;
}